<div class="navCont">
  <nav>
    <div class="navLeft">
      <div class="menu" (click)="toggleMenu()">
        <button><mat-icon>menu</mat-icon></button>
      </div>
      <a class="logo">
        <img src="../../assets/logo-gmail.png" alt="logo-gmail" />
      </a>
      <div class="searchCont">
        <div class="search">
          <div class="searchIcon"><mat-icon>search</mat-icon></div>
          <input type="text" placeholder="Search mail" />
        </div>
      </div>
    </div>
    <div class="rightNav">
      <button><mat-icon>help_outline</mat-icon></button>
      <button><mat-icon>settings</mat-icon></button>
      <button><mat-icon>apps</mat-icon></button>
      <button><mat-icon>account_circle </mat-icon></button>
    </div>
  </nav>
</div>
